.purchases{
    position: relative;
    top: 6em;
}
.purchases-header{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.purchases-container-span{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
}

.purchases-span-home{
    text-transform: capitalize;
}

.purchases-span-purchases{
    font-size: 1.1rem;
    font-weight: 800;
}

.purchases-span-punto{
    position: relative;
    top: 0.3em;
    color: #f85555;
}

.purchases-container-productpurchases{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
