.app{
    position: relative;
}

.container-cartpage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    visibility: visible;
    transition: visibility 0.6s ease;
}

.container-cartpage.oncart{
    visibility: hidden;
}